<%= render "shared/menu" %>

<h1>HomePage</h1>

<!-- TODO : a little one-page description of what is MyTrello -->
<h2>
  <%= link_to 'Aller sur la page de mes boards', boards_path %>
</h2>
<!-- ENDPAGE -->

<i class="fa fa-star"></i>LOURD LE FONT AWESOME :D<i class="fa fa-star"></i>
