<%= render "shared/menu" %>

<div class="home row">
  <article class="col-lg-6 description">
    <header>
        <h1>My Trello</h1>
        <p>Outil de management de projets</p>
    </header>

    <body>
        <p>
          My Trello est un outil permettant de manager ses projets.</br>
          Il est constitué :
        </p>
        <ul>
          <li>De <b>boards</b> présentatifs de projet (Ex: un board pour My Trello)</li>
          <li>De <b>colonnes</b> représentant un état du projet (Finie, En cours, A faire etc...)</li>
          <li>De <b>tickets</b> presentant des tâches à accomplir</li>
        </ul>
    </body>
  </article>

  <article class="col-lg-6 profile">
    <header>
      <div class="avatar">
        <%= image_tag "batman.png", :class => "avatarImg img-responsive" %>
      </div>

      <div class="name">
        <p>
          Phil Da Silva<br/>
          <span class="dev">Développeur Web</span>
        </p>
      </div>
    </header>

    <body>
      <p>

      </p>
    </body>
  </article>
</div>


<h1>HomePage</h1>

<!-- TODO : a little one-page description of what is MyTrello -->
<h2>
  <%= link_to 'Aller sur la page de mes boards', boards_path %>
</h2>
<!-- ENDPAGE -->

<i class="fa fa-star"></i>LOURD LE FONT AWESOME :D<i class="fa fa-star"></i>
