// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$myTrelloColor: #42B573;

.boardsIndex {
  margin-top: 20px;

  p.title {
    font-size: 30px;
    text-transform: uppercase;
    color: $myTrelloColor;
    text-align: center;
  }

  .boards {
    margin-top: 20px;

    a {
      cursor: pointer;

      .board {
        height: 150px;
      }

      &:hover {
          text-decoration: none;

          .board {
            background-color: $myTrelloColor;

            header {
              display: none;
            }

            article {
              display: block;
            }
          }
        }
    }

    .board {
      background-color: lightgrey;
      padding: 15px 0;
      margin: 5px;

      //For + block
      i {
        display: block;
        font-size: 80px;
        text-align: center;
        margin-top: 23px;
      }

      header {
        i {
          color: $myTrelloColor;
        }

        p {
          text-transform: uppercase;
          font-size: 18px;
          text-align: center;
          margin-top: 10px;
          color: $myTrelloColor;
        }

        .boardImg {
          width: 80px;
          height: 80px;
          display: block;
          margin: 0 auto;
        }
      }

      article {
        display: none;
        margin: 25px 10px;
        text-align: center;

        p {
          color: white;

          &.title {
            text-transform: uppercase;
            margin-bottom: 5px;
            padding-bottom: 20px;
            border-bottom: solid 1px white;
          }
        }
      }
    }
  }
}
