// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$myTrelloColor: #42B573;

.boardsIndex {
  margin-top: 20px;

  p.title {
    font-size: 30px;
    text-transform: uppercase;
    color: $myTrelloColor;
    text-align: center;
  }

  .boards {
    margin-top: 20px;

    a {
      cursor: pointer;

      .board {
        height: 150px;
      }

      &:hover {
          text-decoration: none;

          .board {
            background-color: $myTrelloColor;

            header {
              display: none;
            }

            article {
              display: block;
            }
          }
        }
    }

    .board {
      background-color: lightgrey;
      padding: 15px 0;
      margin: 5px;

      //For + block
      i {
        display: block;
        font-size: 80px;
        text-align: center;
        margin-top: 23px;
      }

      header {
        i {
          color: $myTrelloColor;
        }

        p {
          text-transform: uppercase;
          font-size: 18px;
          text-align: center;
          margin-top: 10px;
          color: $myTrelloColor;
        }

        .boardImg {
          width: 80px;
          height: 80px;
          display: block;
          margin: 0 auto;
        }
      }

      article {
        display: none;
        margin: 25px 10px;
        text-align: center;

        p {
          color: white;

          &.title {
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 5px;
            padding-bottom: 10px;
            border-bottom: solid 1px white;
          }
        }
      }
    }
  }
}

.boardPage {
  .return {
    a {
      color: lightgrey;
      font-size: 16px;

      i {
        margin-right: 3px;
      }

      &:hover {
        color: $myTrelloColor;
        text-decoration: none;
      }
    }
  }

  .title {
    text-align: center;

    .boardImg, p {
      display: inline-block;
      vertical-align: middle;
    }

    .boardImg {
      width: 70px;
      height: 70px;
    }

    p {
      color: $myTrelloColor;
      font-size: 20px;
      margin-left: 10px;
    }
  }

  .description {
    margin-top: 10px;

    p {
      text-align: center;
      font-style: italic;

      .editBtn, .deleteBtn {
        margin-left: 10px;
        color: lightgrey;

        i {
          font-size: 18px;
        }

        &:hover {
          color: $myTrelloColor;
        }
      }
    }
  }

  .columns {
    margin-top: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .column {
      display: inline-block;
      vertical-align: top;

      height: 500px;
      width: 250px;
      background-color: $myTrelloColor;
      margin-right: 5px;

      header {
        padding: 10px 0;
        border-bottom: solid 3px lightgrey;

        .title {
          color: lightgrey;
          text-align: center;
        }

        .actions {
          text-align: right;

          a {
            text-align: right;
            color: lightgrey;
            margin-left: 3px;

            i {
              font-size: 14px;
            }

            &:hover {
              color: lighten($myTrelloColor, 30%);
            }
          }
        }
      }
    }
  }
}
