// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  .profile {
    .avatar, .name {
      display: inline-block;
      vertical-align: middle;
    }

    .name {
      margin-left: 10px;

      .dev {
        font-style: italic;
      }
    }

    .avatar {
      width: 100px;
      height: 100px;
      background-color: lightgrey;
      border-radius: 50%;
    }

    .avatarImg {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 10px auto;
    }
  }
}
